<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    {% load static %}
    <title>Django/Svelte Sample</title>
    <link rel='icon' type='image/png' href="{% static 'frontend/favicon.png' %}">
    <!-- Default basic global styling -->
    <link rel='stylesheet' href="{% static 'frontend/global.css' %}">
    <!-- Our Svelte app styling, taking priorty over global style -->
    <link rel='stylesheet' href="{% static 'frontend/bundle.css' %}">
    <!-- Our Svelte app bundle -->
    <script defer src="{% static 'frontend/bundle.js' %}"></script>
</head>
<body>
    <!-- Everything is in the bundle and will be displayed
        thanks to Client Side Rendering (CSR) and Hydration ;)
        https://kit.svelte.dev/docs/glossary#csr -->

    <!-- We can still have both CSR and Django's default Server Sided Rendered 
        (SSR) pages if needed, by just setting the views and templates accordingly. -->
</body>
</html>